* {
  font-size: 16px;
}
/*header*/
header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #008000, #5b8b5b);
  font-family: "Montserrat", sans-serif;
}
header div {
  display: flex;
}
header div {
  display: flex;
  width: 38%;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  width: 62%;
  height: 100%;
}
header nav div {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: white;
}
header nav div:hover {
  background-color: #b00000;
  cursor: pointer;
}
/*content*/
#content {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/key.jpg);
  background-repeat: round;
  background-attachment: fixed;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}
#comment-by-table {
  display: flex;
  align-items: center;
  width: auto;
  height: 30px;
  padding-left: 5%;
  padding-right: 5%;
  align-self: flex-start;
  margin-left: 19%;
  margin-top: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #b00000;
  opacity: 0.7;
}
/*table*/
table {
  border-collapse: collapse;
  width: 62%;
  margin-top: 1%;
  background-color: #252f48;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
tr {
  text-align: left;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #37b5a5;
  color: #cad4d6;
}
tr:nth-child(1) {
  color: #edb749;
}
tr:last-child {
  border-bottom: none;
}
td {
  margin: 0;
}
td:nth-child(1) {
  width: 10%;
  vertical-align: center;
  border-right: 1px solid #37b5a5;
}
td:nth-child(2),
td:nth-child(3) {
  width: 45%;
  padding-left: 1%;
  vertical-align: center;
  border-right: 1px solid #37b5a5;
}
td:last-child {
  border-right: none;
}
td span {
  margin-left: 5%;
  padding: 5%;
}
td span:hover {
  color: #b00000;
  cursor: pointer;
  background-color: white;
}
