* {
  font-size: 16px;
}
header {
  display: flex;
  width: 100%;
  height: 116px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #008000, #5b8b5b);
  font-family: "Montserrat", sans-serif;
}
header div {
  width: 100%;
  height: auto;
  font-size: 3rem;
  color: white;
  text-align: center;
}
@keyframes curtain-view {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes curtain-delete {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@keyframes signUp-delete {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes see {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes nosee {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-image: radial-gradient(at top left, white, #e1cc4f);*/
  background-color: white;
  position: fixed;
  top: 0px;
  animation-name: curtain-view;
  animation-duration: 0.5s;
  opacity: 0.7;
}
.curtain-delete {
  animation-name: curtain-delete;
  animation-duration: 0.5s;
}
.signUp-delete {
  animation-name: signUp-delete !important;
  animation-duration: 0.5s;
}
#sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50vw;
  height: auto;
  position: fixed;
  top: 15%;
  left: 26%;
  animation-name: curtain-view;
  animation-duration: 0.5s;
}
#icon-left,
#icon-right {
  width: 10vw;
  display: flex;
  align-items: center;
  color: blue;
}
#icon-left span,
#icon-right span {
  width: 100%;
  height: auto;
  text-align: center;
}
#icon-left span {
  margin-right: 1vw;
}
#icon-right span {
  margin-left: 1vw;
}
#icon-left span:hover,
#icon-right span:hover {
  background-color: grey;
  animation-name: curtain-view;
  animation-duration: 0.5s;
  opacity: 0.7;
}
.display-none {
  display: none !important;
}
#sign-up-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 20%;
  background-image: linear-gradient(to right, #008000, #5b8b5b);
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
}
#list-of-forms {
  width: 40vw;
  height: auto;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1.2rem;
}
.textform {
  margin-left: 19%;
}
#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: auto;
  background-image: radial-gradient(at top left, #030d59, black);
}
#sign-up-form-two {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  background-image: radial-gradient(at top left, #030d59, black);
  position: absolute;
}
#show {
  font-size: 1rem;
  text-decoration: underline;
  color: gray;
  margin-top: 0% !important;
}
.seeformtwo {
  animation-name: see;
  animation-duration: 0.5s;
}
.noseeformtwo {
  animation-name: nosee;
  animation-duration: 0.5s;
}
#sign-up-form div div,
#sign-up-form-two div div {
  margin-top: 3%;
}
#sign-up-form div:last-child {
  margin-bottom: 6%;
}
#sign-up-form div input,
#sign-up-form-two div input {
  width: 62%;
  height: 32px;
  border-radius: 5px;
  outline: none;
}
#sign-up-form input:hover,
#sign-up-form input:focus {
  background-color: #84c3be;
}
#sign-up-form-two input:hover,
#sign-up-form-two input:focus {
  background-color: #84c3be;
}
#buttonjoin {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #008000, #5b8b5b);
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 9%;
  height: 42px !important;
}
#buttonjoin:active {
  transform: scale(0.9);
}

#sign-up-form div,
#sign-up-form-two div {
  width: 100%;
}

.content {
  max-width: 100%;
  height: auto;
  background-image: radial-gradient(at top left, #030d59, black);
}
.content_items {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 3%;
}
.content_description {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.content_description .text {
  height: auto;
}
.content_description p {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  color: white;
}
hr {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.form {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
}
#signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signin p {
  font-size: 1.5rem;
  margin-top: 3%;
}
.content_image {
  width: 50%;
  height: auto;
}
#signin input {
  width: 100%;
  height: 40px;
  opacity: 0.6;
}
#signin input:hover {
  opacity: 1;
}
#signin input:focus {
  opacity: 1;
  outline: none;
}
#content-submit {
  width: 40% !important;
  align-self: start;
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2rem;
  background-color: #030d59;
  border: 2px solid white;
  border-radius: 3px;
}
#signin input:nth-child(3):active {
  transform: scale(0.9);
}
#button-sign-up {
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #008000;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 5px;
}
#signin input:nth-child(5):active {
  transform: scale(0.9);
}
