<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your dictionary</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/dictionary.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css /">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
   <header>
       <div>Your dictionary</div>
       <nav><div>Add words</div><div>Training</div><div>Statistic</div></nav>
   </header>
   <div id="content">
       <main>
           <div id="comment-by-table">
                <p>In your table: 1 word.
                </p>
           </div>
           <table>
               <tr>
                   <td></td>
                   <td>English words</td>
                   <td>Translation of words</td>
               </tr>
               <tr>
                    <td><span class="fa fa-pencil fa-1x"></span><span class="fa fa-google fa-1x"></span><span class="fa fa-volume-up fa-1x"></span></td>
                    <td>To start</td>
                    <td>Начинать</td>
                </tr>
               <tr>
                    <td></td>
                    <td></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td></td>
                    <td></td>
               </tr>
           </table>
       </main>
   </div>
</body>
</html>