<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your dictionary</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/form_to_add_words.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css /">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
    <main>
        <div id="comment-by-form">
            <div>Enter a quantity of words (max. quantity 100):</div>
            <div id="control"><form  action="#"><input type="number" name="quantity" min="1" max="100"></form></div>
            <div id="buttons">
                <button type="button" name="#">Add words again</button>
                <button type="button" name="#">Enter words</button>
            </div>
        </div>
            <div class="form">
                <div><textarea id="word" name="word" id="" cols="30" rows="10"></textarea></div>
                <div><textarea id="translation" name="translation" id="" cols="30" rows="10"></textarea></div>
            </div>           
    </main>
</body>
</html>